lottery_venv/
.DS_Store
.env
my_user_bot.session
.vscode/
my_user_bot.session-journal
my_database.session
my_session.sessio
bd/giveaways.db
user_bot/user_session.session
api_bot/bot_session.session
__pycache__/
new_group.txt